<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h3 class="navbar-brand" href="">Home</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/book">Truyện</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/book/book-manager">Quản lý truyện</a>
                </li>

                <li class="nav-item">
                    <a href="/Users" class="nav-link active">Quản lý người dùng</a>
                </li>

<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
<!--                       data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Tài Khoản-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"-->
<!--                               data-bs-target="#exampleModalDangnhap">Đăng nhập</a></li>-->
<!--                        <li>-->
<!--                            <hr class="dropdown-divider">-->
<!--                        </li>-->
<!--                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"-->
<!--                               data-bs-target="#exampleModalDangky">Đăng ký</a></li>-->


<!--                    </ul>-->
<!--                </li>-->
            </ul>
            <form class="d-flex" style="margin: 5px">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>

<ul class="people_list">
</ul>
{{#each listBook}}
    <a href="/book/img-detail/{{this._id}}" style="text-decoration: none;color: black" >
    <div class="card col-sm-3 mt-2" style="width: 20rem; float: left;height: 25rem;margin: 17px">
        <div  style="width: 20rem;">
            <img style="height: 12rem" src="{{this.upload_multer}}" class="card-img-top card-img-top" alt="{{this.name}}">
            <div class="card-body">
                <h5 class="card-title">
                    {{this.name}}
                </h5>
                <p class="card-text">{{this.author}}</p>
                <a  href="#" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    </a>
{{/each}}
